//- include ../mixins/sub-menu.pug

header.header
    .container
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/")
                        img(src="/images/bk.jpg", alt="logo")

            .col-5 
                .box-search 
                    form(
                        action = "/search/result"
                        method = "GET"
                    )
                        div(class = "form-group d-flex mb-0")
                            input(
                                type = "text",
                                placeholder= "Tìm kiếm..."
                                class = "form-control"
                                name = "keyword"
                                value = keyword
                            )
                            button(
                                type = "submit",
                                class = "btn btn-primary"
                            )
                                i(class = "fa-solid fa-magnifying-glass")
                            


            .col-4 
                .inner-menu 
                    ul(class ="ml-auto") 
                        li 
                            a(href="/") <i class = "fa-solid fa-house"></i> Trang chủ
                        li 
                            a(href="/topics") <i class = "fa-solid fa-music"></i> Chủ đề bài hát
                        li
                            a(href="/favorite-songs") <i class = "fa-solid fa-heart"></i> Bài hát yêu thích